<!DOCTYPE html>

<html layout:decorate="layouts/defaultLayout" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login Page</title>

</head>-->
this can all be deleted as it is now taken care of in defaultLayout. this is done with the fragment keyword below

<body>
<div class="container my-5" layout:fragment="content">
    <form action="#" th:action="@{processLogin}" th:object="${loginModel}" method="post">
        <div>
            <label for="username" class="form-label">Username</label>
            <input th:field = "*{username}" type="text" class="form-control" id="username">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input th:field = "*{password}" type="password" class="form-control" id="password">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>

        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>
</body>

</html>